@{
    ViewData["Title"] = "Home Page";
}

<div id="chatBox">
    <ul id="messages"></ul>
    <input type="text" id="userInput" />
    <button id="sendButton">Send</button>
</div>

<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/chat.js"></script>